:root {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('Cuprum Regular'), local('Cuprum-Regular'),
		url('../fonts/Cuprum/cuprum.woff2') format('woff2'),
		url('../fonts/Cuprum/cuprum.woff') format('woff');
}
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 700;
	src: local('Cuprum Bold'), local('Cuprum-Bold'),
		url('../fonts/Cuprum/cuprumbold.woff2') format('woff2'),
		url('../fonts/Cuprum/cuprumbold.woff') format('woff');
}
@font-face {
	font-family: 'Cuprum';
	font-style: italic;
	font-weight: 400;
	src: local('Cuprum Italic'), local('Cuprum-Italic'),
		url('../fonts/Cuprum/cuprumitalic.woff2') format('woff2'),
		url('../fonts/Cuprum/cuprumitalic.woff') format('woff');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'),
		url('../fonts/PT_Sans/ptsans.woff2') format('woff2'),
		url('../fonts/PT_Sans/ptsans.woff') format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'),
		url('../fonts/PT_Sans/ptsansbold.woff2') format('woff2'),
		url('../fonts/PT_Sans/ptsansbold.woff') format('woff');
}


body {
	margin: 0;
	padding: 0;

	min-width: 1200px;
	min-height: 3151px;

	color: #000000;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-style: normal;
	font-size: 14px;
/*	line-height: 24px;*/
	font-weight: 400;
	list-style: none;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

body ul,
body ol {
	list-style: none;
}

.basic-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 38px;

	font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;

	color: #ffffff;

	text-transform: uppercase;

	background-color: #ee3643;

  border-radius: 2px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0;
	flex-wrap: wrap;
}

/*начало общего хедера*/

.main-header {
	color: #ffffff;
	font-size: 17px;
	background-color: #f2f6f8;
	height: 320px;
	margin-bottom: 59px;
}

.main-nav {
	display: flex;
	flex-direction: column;
	height: 320px;
}

.header-top {
	display: flex;
	background-color: #293449;
	width: 100%;
	min-height: 42px;
	line-height: 42px;
	margin-bottom: 46px;
}

.header-top svg {
	opacity: 0.3;
}

.header-top a {
	color: #ffffff;
}

.main-header .logo {
	position: relative;
	color: #ffffff;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	background-color: #ee3643;
	width: 220px;
	max-height: 47px;
	line-height: 42px;
}

.main-header .logo::before {
position: absolute;
content: "";

bottom: -5px;
left: 0;

width: 100%;
height: 5px;

background-color: #b52933;
}

.search-header {
	margin-left: 17px;
}

.search-header form {
	max-height: 42px;
}
.search-header input {
	display: none;
}

.search-header svg {
	margin-right: 15px;
}

.user-navigation-btn {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.user-navigation-btn li {
	min-width: 150px;
	min-height: 42px;
	text-align: center;
}

.btn-bookmark {

}

.btn-bookmark svg {
	margin-right: 13px;
}

.btn-cart {
	margin-left: 10px;
}
.btn-cart svg {
	margin-right: 17px;
}

.btn-order {
	margin-left: 10px;
	background-color: #63a63e;
}

.header-mid {
	margin-bottom: 44px;
}

.motto {
	color: #ee3643;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 16px;
	font-style: italic;
	width: 200px;
	margin-top: 0;
	margin-left: 52px;
	margin-right: 70px;
}

.header-mid .header-phone {
	border: 3px solid #ffffff;
	padding: 11px 0;
	line-height: 0px;
	text-align: center;
	margin-top: 0;
	width: 270px;
	height: 45px;
	padding-right: 47px;
}

.header-mid .header-phone a {
	color: #ee3643;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 21px;
}

.header-mid .header-phone svg {
	margin-left: 10px;
	margin-right: 30px;
}

.header-mid .header-address {
	color: #32425c;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 0px;
}

.header-user {
	display: flex;
	margin-left: auto;
}

.header-mid .header-user-btn:first-child {
	margin-left: 69px;
	margin-right: 10px;
}

.header-mid .header-user-btn {
	text-align: center;
	width: 121px;
	height: 45px;
	line-height: 45px;
	background-color: #ffffff;
}

.header-mid .header-user-btn a {
	color: #000000;
	font-size: 21px;

}

.header-user-links a {
	display: flex;
	color: #32425c;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.site-navigation {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
	box-sizing: content-box;
	background-color: #32425c;
	height: 55px;
	font-size: 17px;
	line-height: 55px;
	border-bottom: 5px solid #293449;
}

.site-navigation li a {
	color:#ffffff;
	text-decoration: none;
}

/*конец общего хедера*/

/*начало элементов основной части index и общей части с catalog*/

.categories {
	/*display: flex;*/
	/*flex-direction: column;*/

	color: #fff;
}

.categories h3 {
	font-weight:700;
	font-size: 24;

}

.categories .container {
	display: flex;
	flex-direction: column;
}

.categories-upperbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;

	margin-bottom: 20px;
}

.categories-lowerbar {
	display: flex;
}

.categories-lowerbar-half {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-content: space-between;
	flex: 1;
}

.categories-block {
	position: relative;

	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	flex: 0 1 300px;

	height: 121px;

	padding: 0 130px 22px 25px;
}

.categories-block h3 {
	margin: 0;
	margin-right: auto;

	font-size: 24px;
	line-height: 1;
	font-weight: 500;

	color: #fff;
}

.categories-block .categories-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 1 135px;

	height: 38px;

	margin-right: auto;

	font-size: 14px;
	line-height: 1;
	font-weight: 400;

	color: #fff;

	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.new-flag::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background: no-repeat center / contain url("../img/new-flag.png");
}

.categories-materials {
	background-color: #ffbf47;
}

.categories-materials::before {
	content: "";

	position: absolute;
	bottom: 27px;
	right: 43px;

	width: 44px;
	height: 65px;

	background: no-repeat center / contain url("../img/icon-bucket.svg");
}

.categories-instruments {
	background-color: #3bbce3;
}

.categories-instruments::before {
	content: "";

	position: absolute;
	bottom: 29px;
	right: 28px;

	width: 75px;
	height: 61px;

	background: no-repeat center / contain url("../img/icon-drill.svg");
}

.categories-electronics {
	background-color: #dc91d8;
}

.categories-electronics::before {
	content: "";

	position: absolute;
	bottom: 30px;
	right: 31px;

	width: 78px;
	height: 62px;

	background: no-repeat center / contain url("../img/icon-tractor.svg");
}

.categories-discounts {
	background-color: #8ed78f;
}

.categories-discounts::before {
	content: "";

	position: absolute;
	bottom: 25px;
	right: 45px;

	width: 59px;
	height: 72px;

	background: no-repeat center / contain url("../img/icon-shop-cart.svg");
}

.categories-delivery {
	background-color: #ffc047;
}

.categories-delivery::before {
	content: "";

	position: absolute;
	bottom: 28px;
	right: 31px;

	width: 78px;
	height: 63px;

	background: no-repeat center / contain url("../img/icon-truck.svg");
}

.slider {
	height: 266px;
	flex: 0 0 620px;
}

.slider h3 {
	margin: 0;
  margin-bottom: 5px;

	font-size: 36px;
	line-height: 1;
	font-weight: 700;

	text-transform: uppercase;
}

.slider p {
	margin: 0;

	font-size: 18px;
	line-height: 1;
	font-weight: 400;
}

.slider-wrapper {
  position: relative;

	display: flex;

	height: 266px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

	padding: 23px 25px 22px 25px;
}

.slider-item-perforators {
	display: flex;

	height: 100%;
	width: 100%;

	background-image: url("../img/slider-img-1.jpg");
	background-repeat: no-repeat;
	background-color: #9b9691;
}

.slider-item-drills {
	display: none;

	height: 100%;
	width: 100%;

	background-image: url("../img/slider-img-2.jpg");
	background-repeat: no-repeat;
	background-color: #9b9691;
}

.slider-arrow {
  position: absolute;

  display: flex;

  width: 22px;
  height: 40px;

  padding: 0;

  background: transparent;
  border: none;

  cursor: pointer;
}

.slider-arrow-left {
  bottom: 112px;
  left: 25px;
}

.slider-arrow-right {
  bottom: 112px;
  right: 25px;
}

.slider-btn-container {
  display: flex;
  flex-direction: row;
}

.slider-btn {
  flex-basis: 195px;
}

.catalog {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*flex-wrap: wrap;*/
}

.section-header {
	width: 100%;
	height: 89px;
	background-color: #f9f5f0;
	display: flex;
}

.section-header h2 {
	color: #32425c;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Cuprum', 'Arial', sans-serif;
	margin-left: 30px;
}
.section-header a {
	height: 38px;
	width: 253px;
	line-height: 38px;
	text-align: center;
	margin-left: auto;
	margin-right: 24px;
	margin-top: auto;
	margin-bottom: auto;
}

.catalog .section-header {
  margin-top: 53px;
  margin-bottom: 20px;
}

.catalog-list {
	display: flex;
	flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 1 220px;

  height: 318px;

  padding-bottom: 20px;

  border: 1px solid #eaeaea;
}

.catalog-item-img-link {
  display: flex;
  justify-content: center;

  margin-bottom: 48px;
}

.catalog-item-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  height: 116px;
}

.catalog-item-name {
  display: flex;

  margin: 0;
  padding: 0 30px;
}

.catalog-item-name-link {
  display: flex;

  text-align: center;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  color: #000;
}

.catalog-item-price-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
}

.catalog-item-price-old {
  display: flex;

  margin: 0;

  color: #a9a9a9;

  text-decoration: line-through;
}

.catalog-item-price-current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 141px;

  height: 38px;

  color: #fff;

  background: no-repeat center / contain url("../img/price-btn.svg");
}

.pop-brands {
}

.pop-brands .section-header {
	margin-top: 21px;
	margin-bottom: 20px;
}

.pop-brands .section-header a {
}

.brand-logos {
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.brand-logos li {
	width: 220px;
	height: 145px;
	border: 1px solid #ebebeb;
	margin-bottom: 20px
}

.brand-1 {
	background-image: url("../img/bosch.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-2 {
	background-image: url("../img/makita.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-3 {
	background-image: url("../img/dewalt.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-4 {
	background-image: url("../img/interskol.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-5 {
	background-image: url("../img/hitachi.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-6 {
	background-image: url("../img/lg.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-7 {
	background-image: url("../img/aeg.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-8 {
	background-image: url("../img/metabo.png");
	background-repeat: no-repeat;
	background-position: center;
}


.services {
  height: 522px;

  padding-top: 66px;
  padding-bottom: 102px;

	background-color: #f4f8f9;
}

.services-container {
  position: relative;

  flex-direction: column;
}

.services-intro {
  display: flex;
  flex-direction: column;

	width: 100%;

	margin-bottom: 74px;
}

.services-intro h2 {
  margin: 0;
  margin-bottom: 30px;

	font-size: 30px;
  line-height: 1;
  font-weight: 700;
	font-family: 'Cuprum', 'Arial', sans-serif;

	color: #000000;

  text-transform: uppercase;
}

.services-intro p {
  margin: 0;
  margin-bottom: 10px;

	font-size: 14px;
	line-height: 1;
	font-family: 'PT Sans', 'Arial', sans-serif;

	color: #000000;
}

.services-intro p:last-child {
  margin: 0;
}

.services-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.services-btn-container {
	position: relative;
}

.services-btn {
	width: 240px;

	margin: 0;
  margin-right: 80px;
	padding: 0;

	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	font-family: 'Cuprum', 'Arial', sans-serif;

	color: #ffffff;

	background-color: #32425c;
}

.services-btn li {
	height: 61px;
}

.services-btn li button{
	width: 100%;
	height: 100%;
	padding-left: 22px;
	text-align: left;
	border: none;
}

.services-shadow {
	position: absolute;
	top: -49px;
	left: 230px;
}

.services-btn-active {
	color: #32425c;
	background-color: #ffffff;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex: 1;

  margin: 0;
  padding: 0;
}

.services-list li {
  display: flex;
  flex-direction: column;
}

.services-names {
  display: flex;

  margin: 0;
  margin-bottom: 19px;

	color: #32425c;
	font-size: 36px;
	font-family: 'Cuprum', 'Arial', sans-serif;

  text-transform: uppercase;
}

.services-list p {
  display: flex;

  margin: 0;

  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.company-info {
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.company-info h2 {
	font-size: 30px;
	font-family: 'Cuprum', 'Arial', sans-serif;
}

.company-info .delivery-list li {
	font-size: 18px;
	line-height: 20px;
}

.contacts {
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
}


.contacts-map-btn {
	background-image: url("../img/map-small.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 300px;
	height: 158px;
}

.contacts h2 {
	color: #000000;
	font-size: 30px;
	font-family: 'Cuprum', 'Arial' sans-serif;
}

.company,
.contacts {
	display: inline;
}

/*конец элементов основной части index и общей части с catalog*/

/*начало индивидуальных элементов catalog*/

.breadcrumbs {
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
}
.page-title {
	background-color: #f2f6f8;
}

.filter {
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-style: normal;
}

.filter-main-price label,
.filter legend {
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
}

.filter-sort {
	background-color: #f7f3ec;
}

.filter-main h3{
	background-color: #f7f3ec;
}

.filter-main-price .slider {
	background-color: #f7f3ec;
}

.filter-main-price input{
	background-color: #f7f3ec;
}
.filter-main-brands label,
.filter-main-types label {
	font-size: 15px;
	font-height: 20px;
}
.btn-pagination {
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	font-style: normal;
}

.btn-pagination-current{
	color: #ffffff;
	background-color: #ee3643;
}
.catalog-category-description {
	background-color: #f2f6f8;
}

.company,
.contacts {
	display: inline;
}

/*начало общего футера*/

.main-footer {
	background-color: #32425c;
}

.main-footer .logo {

	color: #ffffff;
	background-color: #ee3643;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	width: 220px;
	height: 42px;
	border-bottom: 2px solid #b52933;
}

.footer-mid {
	color: #ffffff;
	background-color: #32425c;

	font-size: 18px;
	line-height: 24px;
}

.footer-site-nav a {
	color: #ffffff;
}

.footer-contacts {
	font-size: 18px;
	line-height: 24px;
}

.footer-categories-nav a {
	color: #ffd180;
}

.footer-bot {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	background-color: #293449;
}

.footer-social-links a {
	color: #ffffff;
}

.footer-devs-mail a {
	color: #ffd180;
}

.footer-devs a {
	color: #ffd180;
}

/*модальные окна*/

.modal {
	color: #000000;
	font-family: 'Cuprum', 'Arial', sans-serif;
}

.modal-feedback-form div label {
	color: #000000;
	font-size: 18px;
}

.modal-feedback-form div input,
.modal-feedback-form div textarea {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
}


.modal-btn-continue {
	color: #000000;
	background-color: #ffffff;
}



.modal .modal-item-added {
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
}

.modal .modal-item-added h2 {
	font-size: 30px;
	line-height: 33px;
}

.modal-item-added-footer {
	background-color: #f1f1f1;
}

/*Сетки*/

html,
body {
}
