:root {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('Cuprum Regular'), local('Cuprum-Regular'),
		url('../fonts/Cuprum/cuprum.woff2') format('woff2'),
		url('../fonts/Cuprum/cuprum.woff') format('woff');
}
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 700;
	src: local('Cuprum Bold'), local('Cuprum-Bold'),
		url('../fonts/Cuprum/cuprumbold.woff2') format('woff2'),
		url('../fonts/Cuprum/cuprumbold.woff') format('woff');
}
@font-face {
	font-family: 'Cuprum';
	font-style: italic;
	font-weight: 400;
	src: local('Cuprum Italic'), local('Cuprum-Italic'),
		url('../fonts/Cuprum/cuprumitalic.woff2') format('woff2'),
		url('../fonts/Cuprum/cuprumitalic.woff') format('woff');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'),
		url('../fonts/PT_Sans/ptsans.woff2') format('woff2'),
		url('../fonts/PT_Sans/ptsans.woff') format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'),
		url('../fonts/PT_Sans/ptsansbold.woff2') format('woff2'),
		url('../fonts/PT_Sans/ptsansbold.woff') format('woff');
}


body {
  position: relative;
	margin: 0;
	padding: 0;

	min-width: 1200px;

	color: #000000;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	list-style: none;

	background-color: #ffffff;
}

body ul,
body ol {
	list-style: none;
}

a {
  text-decoration: none;
}

.basic-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 38px;

	font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;

	color: #ffffff;

	text-transform: uppercase;

	background-color: #ee3643;

  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.basic-btn:hover {
  background-color: #ca2c37;
}

.basic-btn:active {
  background-color: #ba2732;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0;
	flex-wrap: wrap;
}

/*начало общего хедера*/

.main-header {
	color: #ffffff;
	font-size: 17px;
	background-color: #f2f6f8;
	height: 320px;
}


.main-nav {
	display: flex;
	flex-direction: column;
	height: 320px;
}

.header-top {
	background-color: #293449;
	width: 100%;
	height: 42px;
	margin-bottom: 46px;
}

.header-top svg {
	opacity: 0.3;
}

.header-top a {
	color: #ffffff;
}

.main-header .logo {
	position: relative;
  display: flex;
	width: 220px;

	color: #ffffff;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 24px;
  line-height: 1;
	text-transform: uppercase;
	background-color: #ee3643;
}

.main-header .logo:focus,
.main-header .logo:hover {
  background-color: #ca2c37;
}

.main-header .logo:active {
  background-color: #ba2732;
}


.main-header .logo::before {
position: absolute;
content: "";

bottom: -5px;
left: 0;

width: 100%;
height: 5px;

background-color: #b52933;
}

.main-header .logo:hover::before,
.main-header .logo:focus::before {
  background-color: #9a212a;
}

.main-header .logo:active::before {
  background-color: #8e1e26;
}

.main-header .logo-self {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-top: 11px;
}

.search-header {
  width: 270px;
  height: 42px;
}

.search-header:hover {
  background-color: #212a3a;
}

.search-header:hover svg {
  opacity: 1;
}

.search-header:focus-within {
  background-color: #fff;
}

.search-header:focus-within .search-field {
  color: #000;
}

.search-header:focus-within svg {
  fill: red;
  opacity: 1;
}

.search-label {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 0px;
  left: 17px;
  fill: #fff;
}

.search-field {
  width: 100%;
  height: 100%;
  padding-left: 48px;
  border: none;
  background-color: transparent;
  color: #fff;
  font: inherit;
  font-size: 17px;
  font-weight: 400;
}

.search-field:focus {
  outline: none;
}

.search-field::placeholder {
  color: #fff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
}

.search-field:focus::placeholder {
  color: transparent;
}

.user-navigation-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.user-navigation-list li {
  display: flex;
	min-width: 150px;
	height: 42px;
	text-align: center;
}

.user-nav-btn {
  display: flex;
  flex-grow: 1;
  padding: 12.5px 0 12.5px 18px;
  line-height: 1;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.user-nav-btn:hover {
  background-color: #212a3a;
}

.user-nav-btn:active {
  background-color: #161d29;
  color: rgba(255, 255, 0, 0.6);
}

.user-nav-btn:hover svg {
  opacity: 1;
}

.user-nav-btn:active svg {
  opacity: 0.5;
}

.btn-bookmark svg {
	margin-right: 13px;
}

.btn-cart svg {
	margin-right: 17px;
}

.btn-cart-active {
  background-color: #ee3643;
}

.btn-cart-active:hover,
.btn-cart-active:focus {
  background-color: #ca2c37;
}

.btn-cart-active:active {
  background-color: #ba2732;
}


.btn-order {
  padding-left: 19px;
	background-color: #63a63e;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
}

.header-mid {
  margin-bottom: 25px;
}

.motto {
	color: #ee3643;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 16px;
  line-height: 23px;
	font-style: italic;
	width: 200px;
	margin-top: 4px;
	margin-left: 52px;
	margin-right: 68px;
}

.header-contacts {
  position: relative;
}

.header-phone {
  display: flex;
	border: 3px solid #ffffff;
	width: 270px;
	height: 45px;
}

.header-phone-self {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-left: 68px;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 21px;
  line-height: 1;
	color: #ee3643;
}

.header-phone .phone-icon {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 12px;
}

.header-address {
  position: absolute;
  top: 55px;
  left: 8px;
	color: #32425c;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1;
}

.header-user {
	display: flex;
	margin-left: auto;
}

.header-user-logged {
  position: relative;
  padding: 13.5px 10px 13.5px 12px;
  width: 300px;
  height: 45px;
  background-color: #fff;
}

.header-user-name {
  padding-left: 33px;
  font-size: 21px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
}

.header-user-name:active {
  color: #c5c5c5;
}

.user-icon {
  position: absolute;
  top: 13.5px;
  left: 13px;
  fill: #c5c5c5;
}

.header-user-logout {
  position: absolute;
  top: 13.5px;
  right: 10px;
  cursor: pointer;
}

.logout-icon {
  fill: #c5c5c5;
}

.header-user-name:hover .user-icon,
.header-user-name:focus .user-icon,
.header-user-logout:hover .logout-icon,
.header-user-logout:focus .logout-icon {
  fill: #32425c;
}

.header-user-name:active .user-icon,
.header-user-logout:active .logout-icon {
  fill: #c5c5c5;
}

.user-account-nav {
  position: absolute;
  left: 18px;
  bottom: -26.4px;
}

.user-account-btn {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1;
  color: #32425c;
  border-bottom: 1px solid #32425c;
}

.user-account-btn:first-child {
  margin-right: 27px;
}

.user-account-btn:first-child::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  top: 7.6px;
  left: 90px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-account-btn:hover,
.user-account-btn:focus {
  color: #ee3643;
  border-bottom: 1px solid #ee3643;

}

.user-account-btn:active {
  color: rgba(50, 66, 92, 0.3);
  border-bottom: 1px solid rgba(50, 66, 92, 0.3);
}

.header-mid .header-user-btn:first-child {
	margin-left: 69px;
	margin-right: 10px;
}

.header-mid .header-user-btn {
	text-align: center;
	height: 45px;
	background-color: #ffffff;
}

.login-btn {
  position: relative;
  display: flex;
  padding: 12.1px 26px 12.1px 46px;
  font-size: 21px;
  line-height: 1;
  color: #000;
}

.login-btn:hover,
.register-btn:hover {
  color: #ee3643;
}

.login-btn:active,
.register-btn:active {
  opacity: 0.3;
  color: #000;
}

.login-icon {
  position: absolute;
  top: 13px;
  left: 14px;
  opacity: 0.3;
}

.login-btn:hover .login-icon {
  opacity: 1;
}

.register-btn {
  display: flex;
  font-size: 21px;
  line-height: 1;
  padding: 12.1px 24.075px;
  color: #000;
}

.header-user-links a {
	display: flex;
	color: #32425c;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.site-navigation {
	padding: 0 20px;
	margin: 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #32425c;
	height: 60px;
	font-size: 17px;
  line-height: 1;
	border-bottom: 5px solid #293449;
}

.site-navigation li {
  display: flex;
  flex-grow: 1;
}

.site-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
	color:#ffffff;
	text-decoration: none;
}

.site-navigation-link:hover {
  background-color: #293449;
}

.site-navigation-link:active {
  background-color: #1d2739;
  opacity: 0.5;
}


/*конец общего хедера*/

/*начало элементов основной части index и общей части с catalog*/

.index-main {
  padding-top: 60px;
}

.categories {
	color: #fff;
}

.categories h3 {
	font-weight:700;
	font-size: 24;

}

.categories .container {
	flex-direction: column;
}

.categories-upperbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;

	margin-bottom: 20px;
}

.categories-lowerbar {
	display: flex;
}

.categories-lowerbar-half {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-content: space-between;
	flex: 1;
}

.categories-block {
	position: relative;

	display: flex;
  flex-direction: column;
	flex: 0 1 300px;

	height: 123px;

	padding: 22px 130px 22px 25px;
}

.categories-block h3 {
	margin: 0;
	margin-right: auto;
  margin-left: -2px;
  margin-bottom: 5px;

	font-size: 24px;
	line-height: 1;
	font-weight: 500;

	color: #fff;
}

.categories-btn {
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top: auto;

	height: 38px;
  width: 135px;

	font-size: 14px;
	line-height: 1;
	font-weight: 400;

	color: #fff;

	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.categories-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.new-flag::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background: no-repeat center / contain url("../img/new-flag.png");
}

.categories-materials {
	background-color: #ffbf47;
}

.categories-materials::before {
	content: "";

	position: absolute;
	bottom: 27px;
	right: 43px;

	width: 44px;
	height: 65px;

	background: no-repeat center / contain url("../img/icon-bucket.svg");
}

.categories-instruments {
	background-color: #3bbce3;
}

.categories-instruments::before {
	content: "";

	position: absolute;
	bottom: 29px;
	right: 28px;

	width: 75px;
	height: 61px;

	background: no-repeat center / contain url("../img/icon-drill.svg");
}

.categories-electronics {
	background-color: #dc91d8;
}

.categories-electronics::before {
	content: "";

	position: absolute;
	bottom: 30px;
	right: 31px;

	width: 78px;
	height: 62px;

	background: no-repeat center / contain url("../img/icon-tractor.svg");
}

.categories-discounts {
	background-color: #8ed78f;
}

.categories-discounts::before {
	content: "";

	position: absolute;
	bottom: 25px;
	right: 45px;

	width: 59px;
	height: 72px;

	background: no-repeat center / contain url("../img/icon-shop-cart.svg");
}

.categories-delivery {
	background-color: #ffc047;
}

.categories-delivery::before {
	content: "";

	position: absolute;
	bottom: 28px;
	right: 31px;

	width: 78px;
	height: 63px;

	background: no-repeat center / contain url("../img/icon-truck.svg");
}

.slider {
	height: 266px;
	flex: 0 0 620px;
}

.slider-wrapper {
  position: relative;

	display: flex;

	height: 266px;
}

.slider-item {
  display: none;
  justify-content: space-between;
  flex-direction: column;

	padding: 23px 25px 22px 25px;
}

.slider-item.active {
  display: flex;
}

.slider-item-perforators {
	height: 100%;
	width: 100%;

	background-image: url("../img/slider-img-1.jpg");
	background-repeat: no-repeat;
	background-color: #9b9691;
}

.slider-item-drills {
	height: 100%;
	width: 100%;

	background-image: url("../img/slider-img-2.jpg");
	background-repeat: no-repeat;
	background-color: #9b9691;
}

.slider-item-text {

}

.slider-item-title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 36px;
  line-height: 1;
  font-weight: 700;

  text-transform: uppercase;
}

.slider-item-subtitle {
  margin: 0;

  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
}

.slider-arrow {
  position: absolute;

  display: flex;

  width: 22px;
  height: 40px;

  padding: 0;

  background: transparent;
  border: none;

  cursor: pointer;
}

.slider-arrow-left {
  bottom: 112px;
  left: 25px;
}

.slider-arrow-right {
  bottom: 112px;
  right: 20px;
}

.slider-btn-container {
  display: flex;
  flex-direction: row;
}

.slider-btn {
  flex-basis: 195px;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 30px;
  top: 220px;
  left: 295px;
}

.slider-control {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;

  background-color: #fff;
  border-radius: 50%;
}

.slider-control::before {
  display: none;
}

.slider-control.active::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;

  background-color: red;
  border-radius: 50%;
}

.section-header {
  padding: 25px 24px 26px 25px;
	width: 100%;
	height: 89px;
	background-color: #f9f5f0;
	display: flex;
}

.section-header-title {
  margin: 0;
  margin-top: 5px;

	font-size: 30px;
  line-height: 1;
  font-weight: 400;
	font-family: 'Cuprum', 'Arial', sans-serif;
	text-transform: uppercase;
	color: #32425c;
}

.section-header-link {
	height: 38px;
	width: 253px;

	margin-left: auto;

	line-height: 38px;
	text-align: center;
}

.catalog .section-header {
  margin-top: 53px;
  margin-bottom: 20px;
}

.catalog-list {
	display: flex;
	flex-flow: row wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 1 220px;

  height: 318px;

  padding-bottom: 20px;

  border: 1px solid #eaeaea;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-img-link {
  display: none;
}

.catalog-item:hover .catalog-item-img-active {
  display: flex;
}

.catalog-item-img-active {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 45px;
  left: 42px;

}

.catalog-item-btn {
  width: 135px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.catalog-item-btn-buy {
  position: relative;
  margin-bottom: 7px;
  color: #fff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.catalog-item-btn-buy svg {
  position: absolute;
  top: 11px;
  left: 12px;
  opacity: 0.3;
}

.catalog-item-btn-buy:hover {
  background-color: #5fbb2d;
}

.catalog-item-btn-buy:hover svg {
  opacity: 1;
}

.catalog-item-btn-buy:active {
  background-color: #518534;
}

.catalog-item-btn-bookmark {
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.catalog-item-btn-bookmark:hover {
  border-color: #32425c;
}

.catalog-item-btn-bookmark:active {
  border-color: #c1c6ce;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-img-link {
  display: flex;
  justify-content: center;

  margin-bottom: 48px;
}

.catalog-item-img {
  margin-right: 8px;
  margin-bottom: 5px;
}

.catalog-item-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  height: 116px;
}

.catalog-item-name {
  display: flex;

  margin: 0;
  padding: 0 30px;
}

.catalog-item-name-link {
  display: flex;

  text-align: center;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;

  color: #000;
}

.catalog-item-price-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

.catalog-item-price-old {
  display: flex;

  margin: 0;

  color: #a9a9a9;

  text-decoration: line-through;
}

.catalog-item-price-current {
  position: relative;

  width: 122px;
  height: 38px;

  margin-bottom: 1px;
  margin-left: 6px;
  margin-right: 19px;

  padding-top: 11px;
  padding-left: 36px;

  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
}

.catalog-item-price-current::before {
  position: absolute;
  content: '';
  top: 0;
  right: -37px;
  border: 19px solid transparent;
  border-left-color: #ee3643;
}

.catalog-item-price-current:hover,
.catalog-item-price-current:focus {
  background-color: #ca2c37;
}

.catalog-item-price-current:active {
  background-color: #ba2732;
}

.catalog-item-price-current:hover::before,
.catalog-item-price-current:focus::before {
  border-left-color: #ca2c37;
}

.catalog-item-price-current:active::before {
  border-left-color: #ba2732;
}

.pop-brands {
}

.pop-brands .section-header {
	margin-bottom: 20px;
}

.pop-brands .section-header a {
}

.brand-logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

  margin: 0;
  margin-bottom: 64px;
	padding: 0;
}

.brand-logos li {
  position: relative;
	width: 220px;
	height: 145px;
	border: 1px solid #ebebeb;
	margin-bottom: 20px
}

.brand-logos li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-logos li:active {
  box-shadow: 0 3px 10px 0 rgba(41, 52, 73, 0.5);
}
.brand-logos li:active::before {
  opacity: 0.3;
}

.brand-1::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/bosch.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-2::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/makita.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-3::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/dewalt.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-4::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/interskol.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-5::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/hitachi.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-6::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/lg.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-7::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/aeg.png");
	background-repeat: no-repeat;
	background-position: center;
}

.brand-8::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 145px;
	background-image: url("../img/metabo.png");
	background-repeat: no-repeat;
	background-position: center;
}


.services {
  height: 522px;

  padding-top: 66px;
  padding-bottom: 102px;

	background-color: #f4f8f9;
}

.services-container {
  flex-direction: column;
}

.services-intro {
  display: flex;
  flex-direction: column;

	width: 100%;

	margin-bottom: 74px;
}

.services-intro h2 {
  margin: 0;
  margin-bottom: 30px;

	font-size: 30px;
  line-height: 1;
  font-weight: 400;
	font-family: 'Cuprum', 'Arial', sans-serif;

	color: #000000;

  text-transform: uppercase;
}

.services-intro p {
  margin: 0;
  margin-bottom: 10px;

	font-size: 14px;
	line-height: 1;
	font-family: 'PT Sans', 'Arial', sans-serif;

	color: #000000;
}

.services-intro p:last-child {
  margin: 0;
}

.services-main {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.services-btn-container {
	position: relative;
}

.services-btn {
	width: 240px;

	margin: 0;
  margin-right: 80px;
	padding: 0;

	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	font-family: 'Cuprum', 'Arial', sans-serif;

	color: #ffffff;

	background-color: #32425c;

  cursor: pointer;
}

.services-btn-container {
	height: 61px;
}

.services-btn-container:last-child .services-btn-self {
  border-bottom: none;
}

.services-shadow {
	position: absolute;
	top: -49px;
	left: 230px;
}

.services-btn-self.active {
	color: #32425c;
	background-color: #ffffff;
  border: none;
}

.services-btn-self {
  border: none;
  border-bottom: 1px solid #4e637c;
  width: 100%;
  height: 100%;
  padding-left: 22px;
  text-align: left;
}

.services-btn-self:not(.active):hover {
  background-color: #293449;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex: 1;

  margin: 0;
  padding: 0;
}

.services-list-item {
  display: none;
  flex-direction: column;

  z-index: 10;
}

.services-list-item.active {
  display: flex;
}

.services-delivery::before {
  content: "";

  position: absolute;
  top: 24px;
  right: 0;

  z-index: 5;

  width: 468px;
  height: 261px;

  background: no-repeat center url("../img/truck.png");
}

.services-guarantee::before {
  content: "";

  position: absolute;
  top: 3px;
  right: -8px;

  z-index: 5;

  width: 389px;
  height: 283px;

  background: no-repeat center url("../img/guarantee.png");
}

.credit-btn {
  width: 195px;

  margin-top: 27px;
  background-color: #ff5357;
}

.services-credit::before {
  content: "";

  position: absolute;
  top: 0px;
  right: -10px;

  z-index: 5;

  width: 465px;
  height: 285px;

  background: no-repeat center url("../img/credit.png");
}

.services-names {
  display: flex;

  margin: 0;
  margin-top: -2px;
  margin-bottom: 19px;

	color: #32425c;
	font-size: 36px;
	font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;

  text-transform: uppercase;
}

.services-list p {
  display: flex;

  margin: 0;

  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.company-info {
	display: flex;

  padding-top: 80px;
  padding-bottom: 86px;
}

.company-info .container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.company-info h2 {
  margin: 0;

	font-size: 30px;
  line-height: 1;
  font-weight: 400;
	font-family: 'Cuprum', 'Arial', sans-serif;
  text-transform: uppercase;
}

.company {
  display: flex;
  flex-direction: column;
  flex: 0 1 540px;
}

.company h2 {
  margin-bottom: 22px;
}

.company p {
  margin: 0;
  margin-bottom: 26px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #000;
}

.company p:last-of-type {
  margin-bottom: 0;
}

.company a {
  width: 220px;
}

.delivery-list {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 0;

  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Cuprum', 'Arial' sans-serif;


  list-style: none;
}

.delivery-list li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 36px;
}

.delivery-list li::before {
  content: "";

  position: absolute;
  left: 0;
  bottom: 8px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex: 0 1 300px;

	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.contacts h2 {
  margin-bottom: 24px;

	font-size: 30px;
  line-height: 1;
	font-family: 'Cuprum', 'Arial' sans-serif;

	color: #000;
}

.contacts p {
  margin: 0;
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #000;
}

.contacts-map {
  margin-bottom: 40px;
  cursor: pointer;
}

/*конец элементов основной части index и общей части с catalog

/*-------CATALOG-------*/

.catalog-main {
  display: flex;
  flex-direction: column;
}

.catalog-main .container {
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;

  margin: 23px 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  margin-right: 39px;
}

.breadcrumbs-item:first-child::before {
  right: -22px;
}

.breadcrumbs-item::before {
  content: "";

  position: absolute;
  top: 0;
  right: -25px;

  width: 8px;
  height: 12px;

  background: no-repeat center / contain url("../img/icon-right-small.svg");
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 1;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #000000;

  text-transform: uppercase;
  text-decoration: none;
}

.catalog-title-container {
  display: flex;
  align-items: center;

  height: 89px;

  margin-bottom: 20px;
  padding-left: 28px;

	background-color: #f2f6f8;
}

.catalog-title {
  margin: 0;

  font-style: 30px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Cuprum', 'Arial', sans-serif;

  color: #32425c;

  text-transform: uppercase;
}

.filter-text {
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #000;

  text-transform: uppercase;
}

.filter-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 20px;
}

.filter-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 220px;

  padding-left: 18px;

  background-color: #f7f3ec;
}

.filter-title {
  margin: 0;
}

.sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 700px;

  padding-left: 18px;

  background-color: #f7f3ec;
}

.sort-title {
  margin-right: 140px;
}

.sort-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 355px;

  margin-right: 46px;
}

.filter-btn-sort {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.filter-btn-sort:hover,
.filter-btn-sort:focus {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.filter-btn-sort:active,
.filter-btn-sort-active {
  color: #ee3643;
  border-bottom: none;
}

.sort-arrows-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 42px;
}

.filter-btn-sort-arrow {
  fill: #c5c5c5;
}

.filter-btn-sort-arrow:not(.filter-btn-sort-arrow-active):hover,
.filter-btn-sort-arrow:not(.filter-btn-sort-arrow-active):focus {
  fill: #000;
}

.filter-btn-sort-arrow:not(.filter-btn-sort-arrow-active):active {
  fill: #ee3643;
}

.filter-btn-sort-arrow-active {
  fill: #ee3643;
}

.catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-bottom: 21px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  flex: 0 1 220px;
}

.catalog-filter-form {
  display: flex;
  flex-direction: column;
}

.fieldset-title {
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  font-family: 'PT Sans', 'Arial', sans-serif;

  text-transform: uppercase;
}

.filter-main-range {
  display: flex;
  flex-direction: column;

  padding-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;
}

.range-title {
  margin-top: -4px;
  margin-bottom: 20px;
}

.range-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;

  margin-bottom: 10px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-bar {
  position: relative;

  display: flex;
  flex: 0 1 180px;

  height: 2px;

  background-color: #d7dcde;
}

.range-bar-full {
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 2px;

  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 22px;

  background: no-repeat center / contain url("../img/toggle-btn.svg");
  cursor: pointer;
}

.range-toggle-min {
  left: -1px;
}

.range-toggle-max {
  left: 141px;
}

.filter-price-range {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.range-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 95px;

  height: 38px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-input-container input {
  display: flex;
  width: 75px;

  font-size: 17px;
  line-height: 1;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #000;

  text-align: center;

  text-transform: uppercase;
  background-color: transparent;

  border: none;
}

.filter-main-brands {
  display: flex;
  flex-direction: column;

  padding-top: 23px;

  border-bottom: 1px solid #e5e5e5;
}

.filter-main-brands fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-main-brands .fieldset-title {
  margin-bottom: 22px;
}

.filter-main-brands .fieldset-container {
  display: flex;
  flex-direction: column;
}

.filter-main-brands .input-container {
  display: flex;

  margin-bottom: 16px;
}

.filter-main-brands .input-container:last-child {
  margin-bottom: 20px;
}

.filter-main-brands label {
  position: relative;

  display: flex;
  align-items: center;
  flex: 1;

  height: 23px;

  padding-left: 35px;

  cursor: pointer;
}

.filter-main-brands .filter-text {
  font-size: 15px;
}

.filter-main-brands input:not(:checked) + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background: no-repeat center / contain url("../img/checkbox-off.svg");
}

.filter-main-brands input:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  height: 23px;
  width: 27px;
  margin-right: -3px;

  background: no-repeat center / contain url("../img/checkbox-on.svg");
}

.filter-main-brands input:not([disabled]):not(:checked) + label:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-main-brands input:not([disabled]):checked + label:hover::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-main-brands input[disabled]:checked + label::before {
  opacity: 0.3;
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-main-brands input[disabled]:not(:checked) + label::before {
  opacity: 0.3;
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-main-types {
  padding-top: 23px;

  margin-bottom: 75px;
}

.filter-main-types fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-main-types .fieldset-title {
  margin-bottom: 20px;
}

.filter-main-types .fieldset-container {
  display: flex;
  flex-direction: column;
}

.filter-main-types .input-container {
  display: flex;

  margin-bottom: 16px;
}

.filter-main-types .input-container:last-of-type {
  margin-bottom: 0;
}

.filter-main-types label {
  position: relative;

  display: flex;
  align-items: center;

  height: 25px;

  padding-left: 35px;

  font-size: 15px;

  cursor: pointer;
}

.filter-main-types input:not(:checked) + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background: no-repeat center / contain url("../img/radio-off.svg");
}

.filter-main-types input:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background: no-repeat center / contain url("../img/radio-on.svg");
}

.filter-main-types input:not([disabled]):not(:checked) + label:hover::before {
  background-image: url("../img/radio-off-hover.svg");
}

.filter-main-types input:not([disabled]):checked + label:hover::before {
  background-image: url("../img/radio-on-hover.svg");

}

.filter-main-types input[disabled]:checked + label::before {
  opacity: 0.3;
  background-image: url("../img/radio-on-hover.svg");
}

.filter-main-types input[disabled]:not(:checked) + label::before {
  opacity: 0.3;
  background-image: url("../img/radio-off-hover.svg");
}

.filter-submit-container {
  display: flex;
  flex-direction: row;
}

.filter-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 140px;

  height: 38px;

  margin: 0;
  padding: 0;

  color: #000;

  background-color: transparent;
  border: 1px solid #e5e5e5;

  border-radius: 3px;

  cursor: pointer;
}

.filter-submit-btn:hover,
.filter-submit-btn:focus {
  border-color: #bdc6ca;
}

.filter-submit-btn:active {
  border-color: #ee3643;
}

.catalog-list-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 700px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
}

.pagination {
  display: flex;
  justify-content: space-between;
  flex: 0 1 284px;

  margin: 0;
  margin-top: 32px;
  padding: 0;

  list-style: none;
}

.pagination-page {
  display: flex;
  flex: 0 1 38px;

  height: 38px;
}

.pagination-page a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #000;

  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-page:not(.pagination-current) a:hover,
.pagination-page:not(.pagination-current) a:focus {
  border-color: #bdc6ca;
}

.pagination-page:not(.pagination-current) a:active {
  border-color: #ee3643;
}

.pagination-current a {
  color: #fff;

  background-color: #ee3643;
  border: none;
}

.pagination-page-next {
  flex: 0 1 140px;
}

.catalog-category-description {
  display: flex;
  flex-direction: column;

  padding-top: 65px;
  padding-bottom: 69px;

  background-color: #f2f6f8;
}

.catalog-category-description .container {
  display: flex;
  flex-direction: column;
}

.catalog-category-description-title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Cuprum', 'Arial', sans-serif;

  color: #32425c;

  text-transform: uppercase;
}

.catalog-category-description-body {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'PT Sans', 'Arial', sans-serif;

  color: #000;
}

/*начало общего футера*/



.main-footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  padding-bottom: 27px;

  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Cuprum', 'Arial', sans-serif;

  color: #fff;

  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  flex-direction: column;
}

.footer-top-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 32px;
}

.footer-logo-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 220px;

  height: 63px;

  background-color: #ee3643;
}

.footer-logo-container::before {
  content: "";

  position: absolute;
  bottom: -5px;

  width: 220px;
  height: 5px;

  background-color: #b52933;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  height: 100%;

  padding-top: 5px;

  font-size: 30px;
  line-height: 1;
  font-weight: 400;

  color: #fff;

  text-transform: uppercase;
}

.footer-pages-nav {
  display: flex;
  justify-content: space-between;
  flex: 0 1 550px;

  margin: 0;
  padding: 0;
  padding-left: 3px;

  list-style: none;
}

.footer-pages-nav-item {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

.footer-pages-link {
  color: #fff;
  text-decoration: none;
}

.footer-pages-link:hover,
.footer-pages-link:focus {
  text-decoration: underline;
}

.footer-pages-link:active {
  opacity: 0.5;
}

.footer-top-lower {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  flex: 0 1 330px;

  margin: 0;
  padding-left: 3px;

  font-size: 18px;
  line-height: 24px;
}

.footer-categories-nav {
  display: flex;
  justify-content: space-between;
  flex: 0 1 530px;

  margin: 0;
  padding: 0;
  padding-left: 3px;
}

.footer-categories-nav-item {
  display: flex;
  padding-top: 4px;
}

.footer-categories-link {
  color: #ffda96;
  text-decoration: none;
}

.footer-categories-link:hover,
.footer-categories-link:focus {
  text-decoration: underline;
}

.footer-categories-link:active {
  opacity: 0.5;
}

.footer-bottom {
  display: flex;

  padding: 35px 0 31px;

  background-color: #293449;
}


.footer-copyright {
  display: flex;
  flex: 0 1 230px;

  margin: 0;
  margin-right: 160px;
  margin-top: 2px;

  font-size: 16px;
  line-height: 18px;

  color: #fff;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 133px;

  margin: 0;
  margin-right: 118px;
  padding: 0;

  list-style: none;
}

.footer-social-links li {
  display: flex;
}

.footer-social-links a:hover,
.footer-social-links a:focus,
.footer-social-links a:active {
  background-color: #ee3643;
}

.footer-social-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  background-color: #212a3a;

  border-radius: 50%;
}

.footer-feedback,
.footer-copyright-link {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.footer-feedback {
  margin-right: 53px;
}

.footer-feedback span,
.footer-copyright-link span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: #fff;
}

.footer-feedback a,
.footer-copyright-link a {
  font-size: 16px;
  line-height: 18px;

  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-copyright-link a:hover,
.footer-copyright-link a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright-link a:active {
  color: #ee3643;
}

.stop-scroll {
  overflow-y: hidden;
}

.overlay {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-show {
  display: flex;
}

.modal {
  z-index: 100;
}

.modal-map {
  display: none;
  position: fixed;

  width: 940px;
  height: 447px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
  background-image: url("../img/map-big.png");
}

.modal-map iframe {
  display: none;
  border: none;
  z-index: 102;
}

.modal-map .modal-close {
  top: 9px;
  right: 9px;
  z-index: 103;
}

.modal-show {
  display: flex;
}

.modal-feedback .modal-show {
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.modal-close:hover {
  transform: scale(1.2);
}

.modal-feedback {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 620px;
  height: 430px;
  background: #fff;
  padding: 47px 80px 150px 80px;
  border-top: 7px solid #ff5357;
}

.modal-feedback .modal-close {
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.half-width {
  width: 220px;
}

.feedback-label {
  display: flex;
  flex-direction: column;

  font-family: 'Cuprum', 'Arial' sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.feedback-label:first-child {
  margin-right: 20px;
}

.feedback-label:last-of-type {
  margin-top: 22px;
}

.feedback-input {
  margin-top: 9px;
  padding: 8px 14px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.feedback-input::placeholder {
  color: #a9a9a9;
}

.feedback-message {
  width: 460px;
  height: 114px;
  resize: none;
}

.feedback-submit-container {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 37px 80px;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}

.feedback-submit {
  width: 460px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
